<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/conf.css"/>
    <script type="text/javascript" src="../static/js/conf.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.0/jquery.min.js"></script>

</head>
<body>
    <form id="payment" action="conf" method="post" autocomplete="off">
        <fieldset >
        <h3>服务器配置</h3>

        <ol>
            <li>

                <label for="name">服务器IP:</label>
                <input  id="host" name="host" type="text" placeholder="请输入服务器IP"  autofocus required>

            </li>

            <li>

                <label >端口号:</label>
                <input  id="port" name="port" type="text" placeholder="请输入服务器端口" autofocus required >

            </li>

        </ol>

        <h3>数据库配置</h3>

        <ol>

            <li>
                <label for="name">数据库IP：</label>
                <input  id="ip" name="ip" type="text" placeholder="请输入数据库IP" autofocus required >

            </li>

            <li>
                <label for="name">数据库：</label>
                <input  id="db" name="db" type="text" placeholder="请输入库名" autofocus required >

            </li>

            <li>

                <label >用户名:</label>

                <input  id="name" name="name" type="text" placeholder="请输入用户名" autofocus required >

            </li>

            <li>

                <label >密码:</label>

                <input  id="pwd" name="pwd" type="text" placeholder="请输入密码" autofocus required >
                <!--   隐藏的input，用来接收修改后的测试用例             -->
                <input  id="dt" name="dt" type="text" value="" style="display: none">
<!--                <input id="textfield" type="text" value="123" onfocus="if (value ==='123'){value =''}" onblur="if (value ===''){value='123'}"/>-->
            </li>

        </ol>

        </fieldset>
        <button class="add"  id="btn" type="submit" onclick="addClick()">开始测试</button>

          <!--  数据库连接错误提示      -->
        <p id="dberr" >{{msg}}</p>
        <a id="urlerr" style="color: #0000ff" href="{{url}}" target="_blank">{{url}}</a>
<!--        <p>请刷新页面再测试</p>-->
    </form>

    <!--遮罩层-->
    <div class="shadow" id="shadow"></div>
    <!--蒙层loading图片-->
    <div id="load_gif" style="width: 100%;display: none">
        <div id="loadingdiv" style="text-align: center">
            年轻人别急，请稍候……
        </div>
        <div  style="text-align: center">
            <img src="../static/img/load.gif" alt="请稍后！">
        </div>
    </div>
    <div id="test_case" >
        <details id="modify">
            <!-- 原始测试用例展示，可修改后提交   -->
            <summary style="outline:none" onclick="session_data()">
                修改测试数据
                <input type="checkbox" name="checkBox" value="" onclick="check_box()"/>
            </summary>
            <pre contenteditable="false" style="font-size: 14px" id="data" >{{data}}</pre>
        </details>
    </div>

</body>
<script type="text/javascript">

    function check_box(){
        //勾选修改用例，用例可编辑，否则不可编辑
        let checkBox=document.getElementsByName('checkBox')[0];
        if (checkBox.checked===true){
            console.log(document.getElementById('dt').value)
            document.getElementById('data').contentEditable="true"
        }
        else {
            document.getElementById('data').contentEditable="false"
        }
    }

    function addClick(){
        //判断如果配置项都填了，就显示加载中
        let case_dt=document.getElementById('data').innerText; //本地缓存
        sessionStorage.setItem("case_dt",case_dt)
        console.log(window.location.href)
        let host = document.getElementById('host').value;
        let port = document.getElementById('port').value;
        let ip = document.getElementById('ip').value;
        let name = document.getElementById('name').value;
        let pwd = document.getElementById('pwd').value;
        //复选框
        let checkBox=document.getElementsByName('checkBox')[0];
        let case_data = document.getElementById('data').innerText;
        if (host===""||port===""||ip===""||name===""||pwd===""){
            return false
        }
        else {
            //如果勾选了复选框，就把修改的测试数据赋值给input
            if (checkBox.checked===true){
                $("#dt").attr("value",case_data)
                console.log(document.getElementById('dt').value)
                document.getElementById('data').contentEditable="true"
            }
            //没勾选复选框，input赋值值为0.后台要根据此值判断
            else {
                $("#dt").attr("value","0")
                console.log(document.getElementById('dt').value)
            }
            //显示加载中loading
            document.getElementById('shadow').style.display='block'
            document.getElementById('load_gif').style.display='block'
            setTimeout(is_sleep,300000)
            return true
        }
    }
    function session_data(){
        //如果有缓存数据，就展示缓存的测试数据
        let case_dt=document.getElementById('data')
        if (sessionStorage.getItem('case_dt')){
            case_dt.innerText=sessionStorage.getItem('case_dt')
        }
    }

</script>
</html>
