<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/conf.css"/>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.0/jquery.min.js"></script>
</head>
<body>
    <form id="payment" action="conf" method="get">
    <fieldset>
        <h3>服务器配置</h3>

        <ol>

            <li>

                <label for="name">服务器IP:</label>
                <input  id="host" name="host" type="text" placeholder="{{data['host']}}"    disabled="disabled">

            </li>

            <li>

                <label >端口号:</label>
                <input  id="port" name="port" type="text" placeholder="{{data['port']}}"   disabled="disabled">

            </li>

        </ol>

        <h3>数据库配置</h3>

        <ol>

            <li>

                <label for="name">数据库IP：</label>
                <input  id="ip" name="ip" type="text" placeholder="{{data['ip']}}"   disabled="disabled">

            </li>

            <li>
                <label for="name">数据库：</label>
                <input  id="db" name="db" type="text" placeholder="{{data['db']}}" disabled="disabled" >

            </li>
            <li>

                <label >用户名:</label>

                <input  id="name" name="name" type="text" placeholder="{{data['name']}}"   disabled="disabled">

            </li>

            <li>

                <label >密码:</label>

                <input  id="pwd" name="pwd" type="text" placeholder="{{data['pwd']}}"  disabled="disabled">

            </li>

        </ol>

        </fieldset>

        <button class="add"  id="btn" type="submit">重新测试</button>

<!--      展示错误提示，1代表ip+端口打不开，0代表数据库连接失败      -->


        {% if flag==1 %}
        <p style="color: #ff0000">{{err}}</p>
        {% else %}
        <p id="dberr" style="color: #ff0000">{{msg}}</p>
        <a id="urlerr" style="color: #0000ff" href="{{url}}" target="_blank">admin后台：{{url}}</a>
        {% endif %}

    </form>

</body>

</html>