<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
    <link rel="icon" href="../static/img/index.png">
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>

<body>
    <div style="display:block" class="menu_nva">

        <h3 class="menu_head current" >系统管理</h3>
        <a target="frame" href="/conf" class="config" >环境配置</a>
        <a target="frame" href="/report" class="report">测试报告</a>
        <a >邮件通知</a>
        <a >定时执行</a>

        <h3 class="menu_head" >测试管理</h3>
        <a target="frame" href="testdata">测试数据</a>
        <a >测试文件</a>


    </div>

    <div style="width: 84.8%;float: right;height: 100%;overflow-x: hidden;overflow-y: hidden">
        <iframe  src="/welcome" frameborder="no" name="frame" width="100%" height="100%"></iframe>
    </div>

</body>

</html>
