<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/conf.css"/>
    <script type="text/javascript" src="../static/js/conf.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.0/jquery.min.js"></script>
</head>
<body>
    <form id="payment" action="conf" method="get">
    <fieldset>
        <h3>服务器配置</h3>

        <ol>

            <li>

                <label for="name">服务器IP:</label>
                <input  id="host" name="host" type="text" placeholder="{{data['host']}}"  autofocus disabled="disabled">

            </li>

            <li>

                <label >端口号:</label>
                <input  id="port" name="port" type="text" placeholder="{{data['port']}}" autofocus disabled="disabled">

            </li>

        </ol>

        <h3>数据库配置</h3>

        <ol>

            <li>

                <label for="name">数据库IP：</label>
                <input  id="ip" name="ip" type="text" placeholder="{{data['ip']}}" autofocus disabled="disabled">

            </li>

            <li>
                <label for="name">数据库：</label>
                <input  id="db" name="db" type="text" placeholder="{{data['db']}}" disabled="disabled" >

            </li>
            <li>

                <label >用户名:</label>

                <input  id="name" name="name" type="text" placeholder="{{data['name']}}" autofocus disabled="disabled">

            </li>

            <li>

                <label >密码:</label>

                <input  id="pwd" name="pwd" type="text" placeholder="{{data['pwd']}}" autofocus disabled="disabled">

            </li>

        </ol>

        </fieldset>

        <button class="add"  id="btn" type="submit">重新测试</button>

    </form>
<!-- 蒙层loading结束后展示的测试结果统计   -->
    <div class="resu" id="resu">
        <p>测试结果统计</p>
        <table border="1" >
          <tr>
              <th>用例总数</th>
              <th>PASS</th>
              <th>FAIL</th>
              <th>ERROR</th>
          </tr>
          <tr>
              <td >{{count}}</td>
              <td >{{succ}}</td>
              <td >{{fail}}</td>
              <td >{{err}}</td>
          </tr>
        </table>
    </div>


</body>
</html>